In [1]:
import pandas as pd

In [5]:
df=pd.read_csv(r'C:\Users\miner\Python_Pandas\Fortune_10.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [7]:
df=pd.read_csv(r'C:\Users\miner\Python_Pandas\Fortune_10.csv',header=1)#The line `df = pd.read_csv(r'C:\Users\miner\Python_Pandas\Fortune_10.csv', header=1)` means **skip** the first row and use the second row (index `1`) as the header for the DataFrame.
df

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
1,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
2,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
3,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
8,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [22]:
df = pd.read_csv(r'C:\Users\miner\Python_Pandas\Fortune_10.csv', index_col=2)#This would set the third column (index 2) as the index for the DataFrame.
df

,ID,Name,Inception,Revenue,Expenses,Profit,Growth
Industry,,,,,,,
IT Services,1,Lamtone,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
Financial Services,2,Stripfind,2010,"$12,329,371","916,455 Dollars",11412916,20%
Health,3,Canecorporation,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
IT Services,4,Mattouch,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
Health,5,Techdrill,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
Health,6,Techline,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
Health,7,Cityace,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
Health,8,Kayelectronics,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
IT Services,9,Ganzlax,2011,"$14,001,180",NaN,11901180,18%
Government Services,10,Trantraxlax,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [24]:
#df = pd.read_csv(r'C:\Users\miner\Python_Pandas\Fortune_10.csv', header=None,prefix='Data')#This would set the third column (index 2) as the index for the DataFrame.
#df when chnage rows name

TypeError: read_csv() got an unexpected keyword argument 'prefix'

In [26]:
df=pd.read_csv(r'C:\Users\miner\Python_Pandas\Fortune_10.csv',names=['ID','Names','Industry','Inception','Revenue','Expenses','Profit','Growth'])
df

,ID,Names,Industry,Inception,Revenue,Expenses,Profit,Growth
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

parameters of pandas read_csv Function
nrows
usecols
skiprows
index_col
header
prefix
names

parameters of pandas read_csv Function
nrows 
usecols
skiprows 
index_col 
header 
prefix
names